// COLORS

$brand1: #f16356;
$brand2: #d0483c;

$page-bg: #FBF5E8;

$white: #ffffff;
$grey: #E3E1E6;
$black: #000000;
$black10: rgba(0, 0, 0, 0.1);
$black20: rgba(0, 0, 0, 0.2);

// Social media stuffs
$social-names: facebook, twitter, linkedin, instagram;
$social-colors: #3b5999, #55acee, #0977b5, #3f729b;
$facebook: #3b5999;
$twitter: #55acee;
$linkedin: #0977b5;
$instagram: #3f729b;
