//FOOTER

footer {
  height: 100%;
  color: $black;
  background-color: $grey;

  @media (min-width: $tablet) {
    height: 100px;
  }

  .container {
    height: 100%;

    @media (max-width: 767px) {
      padding: 40px 20px 20px;
      text-align: center;
    }
  }

  .row {
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .copyright {
    width: 100%;
    @media (min-width: $tablet) {
      width: initial;
    }
  }

  .footer-decor {
    display: none;
    .home & {
      display: block;
      width: 150px;
      position: absolute;
      top: -90px;
      left: 25%;
    }
  }

  .socials {
    width: 100%;

    
    @media (min-width: $tablet) {
      width: 40%;
    }
    @media (min-width: $desktop-lg) {
      width: 15%;
    }

    ul {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 0;
      margin-top: 40px;

      @media (min-width: $tablet) {
        width: initial;
        justify-content: space-between;
        margin: auto;
      }

      li {
        width: 28px;
      }
    }
  }
}
