//FOOTER

footer {
  height: 100%;
  color: $black;
  background-color: $grey;

  @media (min-width: $tablet) {
    height: 100px;
  }

  .container {
    height: 100%;

    @media (max-width: 767px) {
      padding: 40px 20px 20px;
      text-align: center;
    }
  }

  .row {
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .copyright {
    width: 100%;
    @media (min-width: $tablet) {
      width: initial;
    }
  }

  .footer-decor {
    display: none;
    .home & {
      display: block;
      position: absolute;
      width: 50px;
      right: 5%;
      top: -30px;
      
      @media(min-width: $tablet){
        left: 2%;
        right: initial;
      }

      @media(min-width: $desktop-sm){
        width: 100px;
        top: -70px;
        left: 30%;
      }
      @media(min-width: $desktop-lg){
        width: 150px;
        top: -90px;
        left: 25%;

      }
    }
  }

  .socials {
    width: 100%;

    
    @media (min-width: $tablet) {
      width: 40%;
    }
    @media (min-width: $desktop-lg) {
      width: 30%;
    }

    ul {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin-top: 40px;

      @media (min-width: $tablet) {
        width: initial;
        justify-content: flex-end;
        margin: auto;
      }

      li {
        width: 28px;
        margin-right: 30px;

        &:last-of-type{
          margin-right: 0;
        }
      }
    }
  }
}
