//FOOTER

footer {
  height: 100%;
  color: $black;
  background-color: $grey;

  @media (min-width: $tablet) {
    height: 100px;
  }

  .container {
    height: 100%;
  }

  .row {
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .footer-decor{
    width: 150px;
    position: absolute;
    top: -90px;
    left: 25%;

  }

  .socials {
    @media (min-width: $desktop-lg) {
      width: 15%;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: auto;
      padding: 0;

      li {
        width: 28px;
      }
    }
  }
}
