//Home Page

body {
  background-color: $page-bg;
}

h1{
  margin-bottom: 0;
}

section.hero {
  @media (min-width: $desktop-lg) {
    padding-top: 320px;
  }

  .row {
    align-items: center;
  }

  p{
    margin-top: 0;
  }
}

.morph-container{
  svg{
    width: 100%;
    height: auto;
    margin-top: 60px;

    @media(min-width: $desktop-lg){
      margin-top: 0;
      width: initial;
    }
  }
}

section.featured-work{
  @media(min-width: $desktop-lg){
    padding-bottom: 180px;
  }
}

section.cta {
  @media (min-width: $desktop-lg) {
    height: 400px;
    margin-bottom: 180px;
  }

  .row{
    align-items: center;
  }

  .contact-form{
    text-align: center;

    p{
      padding-bottom: 20px;
    }
  }

  .music-cta {
    flex-direction: column;
  }

  .divider {
    height: 400px;
    width: 1px;
    background: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

// Decorative elements

.abstract-1 {
  position: absolute;
  top: 0;
  z-index: -1;

  width: 100%;
  height: auto;

  @media(min-width: $tablet){
    width: 60%;
  }

  @media(min-width: $desktop-sm){
    width: initial;
  }
}
.abstract-2 {
  position: absolute;
  right: 0;
  bottom: 80px;
  z-index: -1;

  width: 100%;
  height: auto;

  @media(min-width: $tablet){
    width: 50%;
    bottom: 260px;
  }

  @media (min-width: $desktop-lg) {
    width: 950px;
    height: auto;
    top: 500px;
    bottom: initial;
  }
}

.branch-1 {
  width: 80%;
  position: relative;
  bottom: -50px;

  @media (min-width: $tablet) {
    width: 430px;
  }

  @media (min-width: $desktop-sm) {
    width: 430px;
  }
  @media (min-width: $desktop-lg) {
    width: 530px;
  }
}

.branch-2 {
  @media (min-width: $desktop-sm) {
    width: 150px;
  }
  @media (min-width: $desktop-lg) {
    position: absolute;
    top: -50%;
    width: 200px;
  }
}

.decor-2 {
  width: 100px;
  position: absolute;
  right: 0;
  top: -70px;
}

.abstract-3 {
  position: absolute;
  right: 0px;
  top: -50px;
  z-index: -1;
}
